/* Styling for introduction section */
.intro {
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), #51493f); */
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;

    color: darkorange;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sankey {
    .node rect {
        cursor: move;
        fill-opacity: .9;
        shape-rendering: crispEdges;
    }

    .node text {
        pointer-events: none;
        text-shadow: 0 1px 0 #fff;
    }

    .link {
        fill: none;
        stroke: #000;
        stroke-opacity: .2;
    }

    .link:hover {
        stroke-opacity: .5;
    }
}

.vis-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Visualization alignment */
.center-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-svg svg {
    display: block;
}